
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 144 45% 98%;
    --foreground: 140 40% 10%;
    --card: 0 0% 100%;
    --card-foreground: 140 40% 10%;
    --popover: 0 0% 100%;
    --popover-foreground: 140 40% 10%;
    --primary: 140 52% 55%;
    --primary-foreground: 144 45% 98%;
    --secondary: 86 52% 71%;
    --secondary-foreground: 140 40% 10%;
    --muted: 144 20% 90%;
    --muted-foreground: 140 20% 30%;
    --accent: 86 52% 71%;
    --accent-foreground: 140 40% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 140 20% 85%;
    --input: 140 20% 85%;
    --ring: 140 52% 55%;
    --radius: 0.75rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground font-body;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply font-headline font-bold tracking-tight;
  }
}
